<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mobiquity APIs Testing">

    <listeners>
<!--        <listener class-name="ExtentReportListner.ExtentReportsTest" />-->
        <listener class-name="Listners.AllureReportListner" />
    </listeners>


    <test name="Mpbiquity APIs TestCases">
        <classes>
            <class name="APIsTests"></class>
<!--            <class name="com.crm.qa.testcases.HomePageTest"></class>-->
<!--            <class name="com.crm.qa.testcases.ContactsPageTest"></class>-->

        </classes>
    </test>
</suite>