<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mobiquity APIs Testing">

    <listeners>
        <listener class-name="Listeners.AllureReportListener" />
    </listeners>

    <test name="Mobiquity APIs TestCases">
        <classes>
            <class name="APIsTests"/>
        </classes>
    </test>
</suite>